html,
body {
  font-family: "Roboto", sans-serif;
}

p {
  line-height: normal;
  margin-block: 0.2em;
}

select {
  max-width: fit-content;
}

.container {
  width: min(65em, 100%);
  margin-inline: auto;
  padding-inline: 1.5rem;
}
.hidden {
  display: none;
}

.movie__poster {
  width: 10em;
  min-height: 10em;
}



.flex__main {
  display: flex;
  padding: 0.5em;
}

.flex__main > * {
  margin: 0.5em;
}



@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}
